@font-face {
    font-family: Proxima;
    src: url(regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Proxima;
    src: url(regular_italic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Proxima;
    src: url(semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Proxima;
    src: url(semibold_italic.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Proxima;
    src: url(bold.otf);
    font-weight: 800;
}

@font-face {
    font-family: Proxima;
    src: url(bold_italic.otf);
    font-weight: 800;
    font-style: italic;
}

.navigation {
    height: 70px;
    background: #00cbff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00cfbf, #00d9e8, #00cbff, #0099e8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #00cfbf, #00d9e8, #00cbff, #0099e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #00cfbf, #00d9e8, #00cbff, #0099e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #00cfbf, #00d9e8, #00cbff, #0099e8); /* Standard syntax (must be last) */
}

.flex-container {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

html {

}
