{% extends 'main/base.html' %}

{% block title %}
<title>AAU Push - Sign up</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block extra %}
<a href="{% url 'Log In' %}" class="btn ">Login</a>
{% endblock %}

{% block content%}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
                <!--Grid row-->
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class='card card-body push-corners'>
                            <p> <span class='link font-weight-bold'>New to AAU Push? </span>Sign up for free.</p>
                            <img class="img-fluid" alt="Laptop and Desk" src="{% static 'main/laptop.jpg' %}" />
                            <form method="post" action="{% url 'Sign Up' %}">
                                    {% csrf_token %}

                                    {% if error.0 or error.1 or error.2 or error.3 or error.4 or error.5%}
                                    <div id="form-error" class="my-1 alert alert-warning" role="alert">
                                    {% else %}
                                    <div id="form-error" class="my-1 alert alert-warning hidden-area" role="alert">
                                    {% endif %}

                                      {% if error.0 %}
                                        <p>First name is required</p>
                                      {% endif %}

                                      {% if error.1 %}
                                        <p>Last name is required</p>
                                      {% endif %}

                                      {% if error.2 %}
                                        <p>Email not valid</p>
                                      {% endif %}

                                      {% if error.3 %}
                                        <p>Department doesn't exist</p>
                                      {% endif %}

                                      {% if error.4 %}
                                        <p>Valid registration number required</p>
                                      {% endif %}

                                      {% if error.5 %}
                                        <p>ID is already taken</p>
                                      {% endif %}
                                    </div>
                                    <select name="department" class="form-control my-3 push-corners" required>
                                            {% if not form.department %}
                                            <option value="" disabled selected>Pick your Department</option>
                                            {% endif %}

                                            {% for department in departments %}
                                                {% if form.department == department.id %}
                                                  <option value="{{department.id}}" selected>{{department.name}}</option>
                                                {% endif %}
                                                <option value="{{department.id}}">{{department.name}}</option>
                                            {% endfor %}
                                    </select>

                                    <input class="form-control my-3 push-corners" name="first_name" type="text" placeholder="First Name" value="{{form.first_name}}" required>
                                    <input class="form-control my-3 push-corners" name="last_name" type="text" placeholder="Last Name" value="{{form.last_name}}" required>
                                    <input class="form-control my-3 push-corners" name="reg_id" data-toggle="tooltip" data-placement="left" title="You can find it on your school ID." type="text" placeholder="Student Registration ID" value="{{form.reg_id}}" required>
                                    <input class="form-control my-3 push-corners" name="email" type="email" placeholder="Email(Optional)" value="{{form.email}}">

                                    <button class="btn btn-block my-3" type="submit">Sign up</button>
                                    <p class="meta text-center">By signing up, you agree to <a class="link" href="#">Terms and Conditions.</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                        {% include 'main/snippets/footer.html' %}
                  </div>
        </div>
    </div>
                <!--Grid row-->
              </div>
    </div>
{% endblock %}

{% block script%}

<script>
    // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
