{% extends 'main/base.html' %}

{% block title %}
<title>AAU Push - Sign up</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block extra %}
<a href="{% url 'Log In' %}" class="btn ">Login</a>
{% endblock %}

{% block content%}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
                <!--Grid row-->
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class='card card-body push-corners'>
                            <p> <span class='link font-weight-bold'>New to AAU Push? </span>Sign up for free.</p>
                            <img class="img-fluid" alt="Laptop and Desk" src="{% static 'main/laptop.jpg' %}" />
                            <form method="post" action="{% url 'Signup' %}">
                                    <select class="form-control my-3 push-corners" required>
                                            <option value="" disabled selected>Pick your Department</option>
                                            {% for department in departments %}
                                                <option value="{{department.id}}">{{department.name}}</option>
                                            {% endfor %}
                                    </select>
                                    <input class="form-control my-3 push-corners" name="first-name" type="text" placeholder="First Name" required>
                                    <input class="form-control my-3 push-corners" name="last-name" type="text" placeholder="Last Name" required>
                                    <input class="form-control my-3 push-corners" name="reg-id" data-toggle="tooltip" data-placement="left" title="You can find it on your school ID." type="text" placeholder="Student Registration ID" required>
                                    <input class="form-control my-3 push-corners" name="email" type="text" placeholder="Email" required>
                                    <button class="btn btn-block my-3" type="submit">Sign up</button>
                                    <p class="meta text-center">By signing up, you agree to <a class="link" href="#">Terms and Conditions.</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                        {% include 'main/snippets/footer.html' %}
                  </div>
        </div>
    </div>
                <!--Grid row-->
              </div>
    </div>
{% endblock %}

{% block script%}

<script>
    // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}