{% extends "main/base.html" %}

{% block title %}
<title>Your Account</title>
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/student-account.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% load static %}
<script src="{% static 'main/student-account.js' %}"></script>
{% endblock %}


{% block side_nav %}
<div id="side-nav">
	<div id="nav-push-board" class="side-nav-sections" onclick="nav_click('push-board')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Push Board"/>
	</div>

	<div id="nav-your-wall" class="side-nav-sections" onclick="nav_click('your-wall')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Your Wall"/>
	</div>

	<div id="nav-course-bucket" class="side-nav-sections" onclick="nav_click('course-bucket')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Course Bucket"/>
	</div>

	<div id="nav-add-drop" class="side-nav-sections" onclick="nav_click('add-drop')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Add/Drop"/>
	</div>

	<div id="nav-account-setting" class="side-nav-sections" onclick="nav_click('account-setting')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Account Setting"/>
	</div>

	<div id="nav-log-out" class="side-nav-sections" onclick="nav_click('log-out')">
		{% load static %}
		<img width=25px src="{% static 'main/White-Logo.svg' %}" alt="Log Out"/>
	</div>
</div>
{% endblock %}

{% block content %}
<div id="content">
	<div id="push-board-content" class="content">
		{% for post in wall %}
		<div class="post">
			<div class="post-header">
				<div class="post-icon">
					<h1>@</h1>
				</div>

				<div class="post-by">
					<div class="by-name">
						{{ post.post.post_by }}
					</div>

					<div class="by-role">
						{{ post.post.post_by.role }}
					</div>
				</div>

				<div class="post-date">
					{{ post.post.pub_date }}
				</div>
			</div>

			<div class="post-content">
				<p>{{ post.post }}</p>
			</div>

			<div class="post-images">
				{% for image in post.post.images.all %}
				<div class="image">
					<img width="100%" src="/media/{{image.image}}"/>
				</div>
				{% endfor %}
			</div>

			<div class="post-files">
				{% for file in post.post.files.all %}
				<div class="file">
					<div class="file-link">
						<a href="/media/{{file.file}}">{{ file.name }}</a>
					</div>

					<div class="file-description">
						<p>File Type: {{ file.extension | upper }} &emsp; &emsp; File Size: {{ file.file.size | filesizeformat}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

	<div id="your-wall-content" class="content">
		<div class="post">
			<div class="post-header">
				<div class="post-icon">

				</div>

				<div class="post-by">

				</div>

				<div class="post-date">

				</div>
			</div>

			<div class="post-content">

			</div>

			<div class="post-images">
				<div class="imag">

				</div>

				<div class="imag">

				</div>
			</div>

			<div class="post-files">
				<div class="file">
					<div class="file-link">

					</div>

					<div class="file-description">

					</div>
				</div>

				<div class="file">
					<div class="file-link">

					</div>

					<div class="file-description">

					</div>
				</div>

				<div class="file">
					<div class="file-link">

					</div>

					<div class="file-description">

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="course-bucket-content" class="content">
		<div id="course-list">
			{% for class in student.class_in.all %}
			<div class="course" onclick="course_click('course-list-{{forloop.counter}}',{{class.id}})">
				{{class.course.name}}
			</div>

			{% endfor %}
			<div id="miscellaneous" class="course" onclick="course_click('miscellaneous-files')">
				Miscellaneous Files
			</div>
		</div>

		<hr>

		<div id="file-list">
			{% for class in student.class_in.all %}
			<div id="course-list-{{forloop.counter}}" class="course-files">

			</div>

			{% endfor %}
			<div id="miscellaneous-files" class="course-files">

			</div>
		</div>
	</div>

	<div id="add-drop-content" class="content">
		<div id="add-section">
				<div id="add-courses-form-notif">
					<h3></h3>
				</div>

				<div class="list-header">
					<h4>{{student.department_in.name}}</h4>
				</div>

				<form id="add-courses-form" method="POST" action="{% url 'Add-Drop' %}">
				{% csrf_token %}
				<input name="action_type" type="text" value="add" hidden/>
				<div class="recipient-list">
					{% for class in classes %}
					{% if forloop.first %}
								<div class="recipient-data">
									<div class="recipient-selection">
										<div class="drop-down-arrow">
											<span onclick="click_hidden('year-{{forloop.counter}}')">></span>
										</div>

										<div class="recipient-name">
											Year&nbsp;{{class.section.year}}
										</div>
									</div>

									<div class="recipient-data-hidden" id="year-{{forloop.counter}}">
										<div class="recipient-list">
											<div class="recipient-data">
												<div class="recipient-selection">
													<div class="drop-down-arrow">
														<span onclick="click_hidden('section-{{forloop.counter}}')">></span>
													</div>

													<div class="recipient-name">
														Section&nbsp;{{class.section.section_id}}
													</div>
												</div>

												<div class="recipient-data-hidden" id="section-{{forloop.counter}}">
													<div class="recipient-list">
														<div class="recipient-data">
															<div class="recipient-selection">
																<div class="check-box">
																	<input name="class" value="{{class.id}}" type="checkbox" />
																</div>

																<div class="recipient-name">
																	{{class.course.name}}
																</div>
															</div>
														</div>

											{% else %}
											{% ifchanged section.year %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="recipient-data">
						<div class="recipient-selection">
							<div class="drop-down-arrow">
								<span onclick="click_hidden('year-{{forloop.counter}}')">></span>
							</div>

							<div class="recipient-name">
								Year&nbsp;{{class.section.year}}
							</div>
						</div>

						<div class="recipient-data-hidden" id="year-{{forloop.counter}}">
							<div class="recipient-list">
								<div class="recipient-data">
									<div class="recipient-selection">
										<div class="drop-down-arrow">
											<span onclick="click_hidden('section-{{forloop.counter}}')">></span>
										</div>

										<div class="recipient-name">
											Section&nbsp;{{class.section.section_id}}
										</div>
									</div>

									<div class="recipient-data-hidden" id="section-{{forloop.counter}}">
										<div class="recipient-list">
											<div class="recipient-data">
												<div class="recipient-selection">
													<div class="check-box">
														<input name="class" value="{{class.id}}" type="checkbox" />
													</div>

													<div class="recipient-name">
														{{class.course.name}}
													</div>
												</div>
											</div>
											{% else %}
											{% ifchanged section.section_id %}
										</div>
									</div>
								</div>

								<div class="recipient-data">
									<div class="recipient-selection">
										<div class="drop-down-arrow">
											<span onclick="click_hidden('section-{{forloop.counter}}')">></span>
										</div>

										<div class="recipient-name">
											Section&nbsp;{{class.section.section_id}}
										</div>
									</div>

									<div class="recipient-data-hidden" id="section-{{forloop.counter}}">
										<div class="recipient-list">
											<div class="recipient-data">
												<div class="recipient-selection">
													<div class="check-box">
														<input name="class" value="{{class.id}}" type="checkbox" />
													</div>

													<div class="recipient-name">
														{{class.course.name}}
													</div>
												</div>
											</div>
											{% else %}
											<div class="recipient-data">
												<div class="recipient-selection">
													<div class="check-box">
														<input name="class" value="{{class.id}}" type="checkbox" />
													</div>

													<div class="recipient-name">
														{{class.course.name}}
													</div>
												</div>
											</div>
											{% endifchanged %}
											{% endifchanged %}
											{% endif %}

											{% empty %}
													<div>
														<div>
															<div>
																<div>
																	<div>
																		<div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="add-button">
					<input type="button" value="Add" onclick="add_course()" />
				</div>

				</form>

		</div>

		<div id="drop-section">
			<h3>Courses you're taking</h3>

			<table id="course-table">
				<tr>
					<th>first</th>
					<th>Course Name</th>
					<th>Course Code</th>
					<th>Module Code</th>
					<th>Credit Hour</th>
					<th>ECTS</th>
					<th>Section</th>
					<th>Instructor</th>
				</tr>

				{% for class in student.class_in.all %}
				<tr class="row-{{class.id}}">
					<td><button onclick="drop_course({{class.id}})">Drop</button></td>
					<td>{{class.course.name}}</td>
					<td>{{class.course.course_code}}</td>
					<td>{{class.course.module_code}}</td>
					<td>3.00</td>
					<td>5.00</td>
					<td>Year {{class.section.year}} Section {{class.section.year}}</td>
					<td>{{class.instructor}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

	</div>

	<div id="account-setting-content" class="content">
		<div id="profile-form">
			<div id="profile-form-notif">
				<h3></h3>
			</div>

			<form id="profile-update-form" method="post" action="{% url 'Account Update' %}">
			{% csrf_token %}
			<input name="user-type" type="text" value="student" hidden/>
			<div class="form-headers">
				<h3>Personal Information</h3>
			</div>
			<hr>

			<div id="form-top">
			<div class="form-left">
			<div class="textinput input">
				<div id="error-firstname" class="error"></div>
				<label for="firstname">First Name<br></label>
				<input name="first-name" id="profile-update-first-name" type="text" value="{{student.first_name}}" required/>
			</div>

			<div class="textinput input">
				<div id="error-lastname" class="error"></div>
				<label for="lastname">Last Name<br></label>
				<input name="last-name" id="profile-update-last-name" type="text" value="{{student.last_name}}" required/>
			</div>
			</div>

			<div class="form-right">
			<div class="textinput input">
				<div id="error-regidr" class="error"></div>
				<label for="regid">Registration Number<br></label>
				<input name="reg-id" id="profile-update-reg-id" type="text" value="{{student.reg_id}}"required/>
			</div>
			</div>
			</div>

			<div class="form-headers">
				<h3>School Information</h3>
			</div>
			<hr>

			<div id="form-middle">

			<div class="form-left">
			<div class="textinput input">
				<label for="year">University<br></label>
				<input id="university" type="text" value="{{student.university_in.name}}"/>
			</div>

			<div class="textinput input">
				<div id="error-department" class="error"></div>
				<label for="department">Choose your department<br></label>
				<select name="department" id="profile-update-department" required>
					{% for department in departments %}
					{% ifchanged department.university_in %}
					<option value="" disabled>{{department.university_in}}</option>
					{% endifchanged %}

					{% if department.id == student.department_in.id %}
					<option value="{{department.id}}" selected>{{department.name}}</option>
					{% else %}
					<option value="{{department.id}}">{{department.name}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			</div>

			<div class="form-right">
			<div class="textinput input">
				<div id="error-year" class="error"></div>
				<label for="year">Year<br></label>
				<input name="year" id="profile-update-year" type="number" value="{{student.year}}"required/>
			</div>

			<div class="textinput input">
				<div id="error-section" class="error"></div>
				<label for="section">Section<br></label>
				<input name="section" id="profile-update-section" type="text" value="{{student.section}}" required/>
			</div>

			</div>
			</div>

			<div class="form-headers">
				<h3>Contact Information</h3>
			</div>
			<hr>

			<div id="form-bottom">

			<div class="textinput input">
				<div id="error-phonenum" class="error"></div>
				<label for="phonenum">Phone number<br></label>
				<input name="phone-number" id="profile-update-phone-number" type="tel" value="{{student.phone}}"required/>
			</div>

			<div class="textinput input">
				<div id="error-email" class="error"></div>
				<label for="email">Email<br></label>
				<input name="email" id="profile-update-email" type="email" value="{{student.email}}"required/>
			</div>
			</div>

			<div id="form-footer">
			<div>
				<h4>Please enter your password to save changes</h4>
			</div>

			<div class="textinput input">
				<input name="password" id="profile-update-password" type="password"/>
			</div>

			<div class="submitinput input">
				<input id="save-changes" type="button" value="Save Changes" onclick="account_update()" />
			</div>
			</div>
		</form>
		</div>
	</div>

</div>

<div id="reminder-container">
	<div id="reminder">
		{% for rem in reminder %}
		<div class="reminder">
			<div class="reminder-header">
				<h5>{{ rem.reminder.title }}</h5>
			</div>

			<div class="reminder-content">
				<div class="reminder-note">
					<p>{{ rem.reminder.note }}</p>
				</div>

				<div class="reminder-due">
					<div class="reminder-venue">
						<p>Venue:{{ rem.reminder.place }}</p>
					</div>
					<div class="reminder-date">
						<p>Date:{{ rem.reminder.due_date | date:"D"}},&nbsp{{ rem.reminder.due_date | date:"SHORT_DATE_FORMAT"}}</p>
						<p>Time:{{ rem.reminder.due_date | date:"f A"}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
