{% extends 'main/base.html' %}

{% block title %}
<title>AAU Push - Account Setup</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block extra %}
<span class="font-weight-bold text-white">Account Setup</span>
{% endblock %}

{% block content %}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row push-min-height">
                <div class="col-lg-4 mt-3">
                    <div class="card push-corners">
                        <div class="card-header">
                            <span>Need Help?</span>
                        </div>
                        <div class="card-body">
                            <p>Watch this 2 minute video on how to setup</p>

                            <button type="button" class="btn mx-0" data-toggle="modal" data-target="#modalYT">Open Video</button>

                            <!--Modal: modalYT-->
                            <div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">

                                <!--Content-->
                                <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center flex-column flex-md-row">
                                    <span class="mr-4">Still need help? Call support: 0913 35 00 82 - Addis</span>
                                    <button type="button" class="btn-outline-primary btn btn-md ml-4" data-dismiss="modal">Close</button>
                                </div>

                                </div>
                                <!--/.Content-->

                            </div>
                            </div>
                            <!--Modal: modalYT-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-3">
                    <div class="card push-corners">
                        <div class="push-corners card-header light-blue white-text ">Complete your account setup</div>
                        <div class="card-body">
                            <form  method="post" action="{% url 'First Login' %}">
                                <input type="hidden" name="user" value="{{user}}" />
                                <ul class="nav">
                                    <li class="active">
                                        <a id="first-page-link" data-toggle="tab" href="#first-page"></a>
                                    </li>
                                    <li>
                                        <a id="second-page-link" data-toggle="tab" href="#second-page"></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="first-page" class="tab-pane active">
                                        <p id="id_error" class="my-1 alert alert-info hidden-area" role="alert"></p>

                                        <div>
                                            <select class="" id="id_title" name="title">
                                                    <option value="" disabled selected>Choose title</option>
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Ms.">Ms.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Dr.">Doctor</option>
                                                    <option value="Prof.">Professor</option>
                                            </select>

                                            <div class="md-form mt-3 mx-1">
                                                <input class="form-control" id="id_name" name="first-name" type="text" placeholder="First Name"/>
                                            </div>

                                            <div class="md-form mt-3 mx-1">
                                                <input class="form-control" id="id_last_name" name="last-name" type="text" placeholder="Last Name"/>
                                            </div>
                                        </div>

                                        <div class="">
                                            <div class="md-form mt-3">
                                              <select id="id_department" name="department" class="form-control my-3 push-corners" required>
                                                      <option value="" disabled selected>Pick your Department</option>
                                                      {% for department in departments %}
                                                          <option value="{{department.id}}">{{department.name}}</option>
                                                      {% endfor %}
                                              </select>
                                            </div>
                                        </div>

                                        <div class="flex-container">
                                            <div></div>
                                            <div><button class="btn" type="button" onClick="next('second-page-link')">Next</button></div>
                                        </div>

                                    </div>

                                    <div id="second-page" class="tab-pane">
                                        <div>
                                            <div class="md-form mt-4 mb-2 mx-1">
                                                <input class="form-control" id="email" name="email" type="text" value="{{user.username}}" placeholder="Email" required />
                                            </div>

                                            <div class="md-form mt-4 mb-2 mx-1">
                                                <input class="form-control" id="password" type="password" name="new_password" placeholder="Enter New Password" required />
                                            </div>

                                            <div class="md-form mt-4 mb-2 mx-1">
                                                <input class="form-control" id="password_conf" type="password" placeholder="Confirm New Password" required />
                                            </div>
                                        </div>
                                        <p id="password-notif"></p>
                                        <div class="mx-1 py-3">You will be <span class="font-weight-bold">redirected to login page</span> after completing.</div>

                                        {%csrf_token%}
                                        <div class="flex-container">
                                            <button  class="btn" type="button" value="Back" onClick="previous('first-page-link')">Back</button>
                                            <button  class="btn" type="button" onclick="first_login()" value="Submit">Submit</button>
                                            <button  id="submit" class="btn" type="submit" value="Submit" hidden></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                {% include 'main/snippets/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function previous(page){

        if(page == "first-page-link"){
                var next_tab = document.getElementById("first-page-link");
                next_tab.click();
        }
    }

    function next(page){

        if(page == "second-page-link"){

            if( document.getElementById("id_title").selectedIndex == 0 ){
                document.getElementById("id_error").innerHTML = "Your title is required.";
                $("#id_error").css("display", "block");
                return;
            }

            if( $.trim( $("#id_name").val() ) == "" ){
                document.getElementById("id_error").innerHTML = "Your first name is required.";
                $("#id_error").css("display", "block");
                return;
            }

            if( $.trim( $("#id_last_name").val() ) == "" ){
                document.getElementById("id_error").innerHTML = "Your last name is required.";
                $("#id_error").css("display", "block");
                return;
            }

            if( document.getElementById("id_department").selectedIndex == 0 ){
                document.getElementById("id_error").innerHTML = "Your department is required.";
                $("#id_error").css("display", "block");
                return;
            }
        }

        var next_tab = document.getElementById(page);
        next_tab.click();
        document.getElementById("id_error").innerHTML = "";
        $("#id_error").css("display", "none");
    }

    function password_checker(){
        var pass = 	document.getElementById("password").value;
        var pass_conf = document.getElementById("password_conf").value;
        if(pass === pass_conf){
            document.getElementById("submit").disabled = false ;
        }
        else{
            document.getElementById("submit").disabled = true ;
        }
    }

    function first_login(){
      $("#push-loader").css("display", "block");
      var pass = 	document.getElementById("password").value;
      var pass_conf = document.getElementById("password_conf").value;

      if(pass.trim() != "" && pass === pass_conf){
        $("#submit").click();
      }

      else{
        $("#push-loader").css("display", "none");
        $("#password-notif").html("Passwords didn't match");
        $("#password-notif").css("display", "block");
      }
    }
</script>
{% endblock %}
