<!DOCTYPE html>
<html>

<body>
  <form method="post" action="{% url 'XLS' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="xlsx">
    <input type="submit">
  </form>

  <h1>Sent</h1>
  {% for email in sent %}
    <p>{{email}}</p>
  {% endfor %}

  <h1>Already Exists</h1>
  {% for email in exists %}
    <p>{{email}}</p>
  {% endfor %}

  <h1>Not Sent</h1>
  {% for email in not_sent %}
    <p>{{email}}</p>
  {% endfor %}

  <h1>Status Code</h1>
  {% for email in code %}
    <p>{{email}}</p>
  {% endfor %}
</body>
</html>
