<!DOCTYPE html>
{% load static %}
<html>
	<head>		
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'main/push.css' %}">
        {% block script %}{% endblock %}
        {% block style %}{% endblock %}
    </head>

    <body>
        
        <div class="navigation">
            <div class="flex-container">
                <div><img width=60px src="{% static 'main/White-Logo.svg' %}"></div>
                <div><span style="color:white">Section Code: <strong>CSY1S2</strong></span></div> 
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div>   <a href="#" class="meta link">Android App</a> <span> - </span>
                <a href="#" class="meta link">Send Feedback</a> <span> - </span>
                <a href="#" class="meta link">Teacher's Login</a>
        </div>
    </body>
</html>