<!DOCTYPE html>
<html>

	<head>
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        {% block style %}{% endblock %}
	</head>


  <body>
				<div id="app">
					<div id="header">
						<div id="header-content">
							<div id="header-logo">
								{% load static %}
								<a href="{% url 'Home' %}"><img width=60px src="{% static 'main/White-Logo.svg' %}" alt="Home Page"/></a>
							</div>
						</div>
					</div>

					{% block side_nav %}{% endblock %}

					<div id="content-background"></div>
					
					<div id="content-container">
						{% block content %}{% endblock %}
					</div>

					<div id="footer">
						<div id="footer-content">
							<div id="copyright">
								<span>Copyright 2018</span>
							</div>

							<div id="footer-nav">
								<a href="">About Us</a>
								<a href="">Feedback</a>
								<a href="">Terms Of Service</a>
							</div>

							<div id="built-with-passion">
								{% load static %}
								<img src="{% static '' %}" alt="PUSH"/>
							</div>
						</div>
					</div>
				</div>
  </body>

</html>
