{% extends "main/base.html" %}

{% load humanize %}

{% block title %}
	<title>AAU Push | {{course.name}}</title>
{% endblock %}

{% block extra %} Section Code: <strong>{{section.code}}</strong> {% endblock %}

{% block content %}
    <div class="container-fluid push-container">
        <div class="row">
            <div class="col-md-6">
                
                <form action="{% url 'course_view' section.code course.get_link_name %}" method="post">
                    {% csrf_token %}  
                    <h1 class="title">{{ course.name }}</h1>
                    
                    {% if materials %}<p class="meta">Check the files you need to download in a ZIP file.</p>{% endif %}
                    
                    <div class="spacer2"></div>
                    
                    {% for material in materials %}
                        <div class="checkbox">
                            <a class="subtitle link" href="{% url 'File' material.material.id %}">{{ material.material.name }}</a>
                            <label>
                                <input type="checkbox" name={{material.material.id}} />
                                <p class="detail">{{material.material.description}}</p>
                                <p class="meta">{{material.material.file.size | filesizeformat }} [{{material.material.ext | upper}}] by {{material.to.lecturer}} | {{material.material.pub_date | naturalday}}</p>
                            </label>
                        </div>
                        <div class="spacer1"></div>
                        {% empty %}
                        <p class="detail">No materials have been uploaded.</p>
                    {% endfor %}

                    {% if materials %}
                        <div class="spacer1"></div>
                        <input class="btn-default" type="submit" value="Download ZIP"/>
                    {% endif %}
                </form>
                
                <div class="spacer2"></div>    
                <a class="detail link" href="{% url 'Section' section.code %}">Back to Announcements</a>
                <div class="spacer2"></div>
            </div>
            <div class="col-md-1"></div>
            {% include "main/courses_snippet.html" with class="col-md-5" %}
        </div>
    </div>

{% endblock %}