{% extends "main/base.html" %}

{% block title %}
	<title>AAU Push | {{course.name}}</title>
{% endblock %}

{% block section_code %} {{section.code}} {% endblock %}

{% block content %}
    <div class="container-fluid push-container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{ course.name }}</h1>
                {% if materials %}<a class="meta link" href="#">Multiple Download Mode</a>{% endif %}
                <div class="spacer2"></div>
                {% for material in materials %}
                    <a class="subtitle link" href="{% url 'File' material.id %}">{{ material.name }}</a>
                    <p class="detail">{{material.description}}</p>
                    <p class="meta">{{material.file.size | filesizeformat }} [{{material.ext | upper}}] by {{material.lecturer}} on {{material.pub_date | date:"N"}}&nbsp;{{material.pub_date | date:"j"}}, {{material.pub_date | date:"o"}}</p>
                    <div class="spacer2"></div>
                {% empty %}
                    <p class="detail">No materials have been uploaded.</p>
                    <div class="spacer2"></div>
                {% endfor %}
                <a class="detail link" href="{% url 'Section' section.code %}">Back to Announcements</a>
                <div class="spacer2"></div>
            </div>
            <div class="col-md-1"></div>
            {% include "main/courses_snippet.html" with class="col-md-5" %}
        </div>
    </div>

{% endblock %}