<!DOCTYPE html>
<html>
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/custom_first_login.css ' %}">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
			function next(page){
				if(page == "third-page-link"){
					var url = "/api/courses?study_field=7&sections=";
					
					$("input:checkbox[name=section]:checked").each(function(){
						url += $(this).val() + "-";	
					});
					
					url = url.slice(0,-1);
					
					$.getJSON(url,function(data){
						var i;			
						$("#third-page").prepend("</div>");			
						
						for(i=0;i<data.length;i++){
							$("#third-page").prepend("<p class='col-sm-4'><input name='course' type='checkbox' value=" + data[i].id + " />" + '&nbsp;' + data[i].name + "</p>");	
						}
						$("#third-page").prepend("<div class='row'");
						$("#third-page").prepend("<h4>Choose courses you give</h4>");
						
					});		
				}
				var next_tab = document.getElementById(page);
				next_tab.click();				
			}
		</script>
    </head>
    
	<body>
 	{% load static %}
 	<div id="header" style="background:url({% static 'main/Gradient.svg' %})">
		{% load static %}
 		<center><img src="{% static 'main/White-Logo.svg' %}" width="160px" height="100px"></center>
 	</div>
    <div class="container">    
	<center>
	<br>
	<h4>Please fill out the form below and submit it to go to your account.</h4>
    <hr>
	<h5> You can choose multiple choices by holding down the CTRL key while choosing.</h5>

 	<table id="lect-table" width="50%">
	<tr>
    	<td>  
		<form class="lect-form" action="{% url 'first_login' %}" method="post">
        <input type="hidden" name="user" value="{{user}}" />
         <ul class="nav nav-tabs">
        	<li class="active"><a id="first-page-link" data-toggle="tab" href="#first-page"></a></li>
            <li><a id="second-page-link" data-toggle="tab" href="#second-page"></a></li>
           	<li><a id="third-page-link" data-toggle="tab" href="#third-page"></a></li> 
            <li><a id="fourth-page-link" data-toggle="tab" href="#fourth-page"></a></li>        
        </ul>
        <div class="tab-content">
			<div id="first-page" class="tab-pane active">
        		<p><label for="id_title">Name:</label>
        		<select id="id_title" name="title">
					<option value="" selected="selected">---------</option>
					<option value="Mr.">Mr.</option>
					<option value="Ms.">Ms.</option>
					<option value="Mrs.">Mrs.</option>
					<option value="Dr.">Doctor</option>
					<option value="Prof.">Professor</option>
				</select>
        		</p>
                
				<p> 
            	<input id="id_name" maxlength="100" name="name" placeholder="First Name" type="text" />
                </p>
                
				<p> 
                <input id="id_last_name" maxlength="100" name="last_name" placeholder="Last Name" type="text" />
                </p>
                
				<p>
                <label for="id_lect_id">Teachers ID:</label> <input id="id_lect_id" maxlength="20" name="lect_id" type="text" />
                </p>
                
				<p><label for="id_department">Department:</label>
                	<select id="id_department" name="department">
                    <option value="" selected="selected">---------</option>
					{% for department in departments %}
                    	<option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
                    </select>
                </p>
                <p><input  class="btn btn-info" type="button" value="Next" style="float:right;margin-right:20px;" onClick="next('second-page-link')"/></p>
			</div>
        
        	<div id="second-page" class="tab-pane">
        		<h4>Choose sections you teach</h4>
                <div class="row">
                {% for section in sections %}
                	{% ifchanged section.year %}
                    	</div>
                    {% endifchanged %}
                    
                	{% ifchanged section.studyfield %}
                    	<h4>{{section.studyfield}}</h4>
                    {% endifchanged %}
                    
                	{% ifchanged section.year %}
                    	<h4><font size="-1">Year {{section.year}}</font></h4>
                        <div class="row">
                    {% endifchanged %}
                    
                    <p class="col-sm-3"><input class="section" type="checkbox" name='section' value="{{section.id}}">&nbsp;Section {{section.section_number}}</p>            
                {% endfor %}
                </div>
                <p><input  class="btn btn-info" type="button" value="Next" style="float:right;margin-right:20px;" onClick="next('third-page-link')"/></p>
        	</div>
                
            <div id="third-page" class="tab-pane">
           		
                <div class="row">
                {% for course in courses %}
                	{% ifchanged course.studyfield %}
                    	</div>
                    	<h4>{{course.studyfield}}</h4>
                        <div class="row">
                    {% endifchanged %}
                    
                    <p class="col-sm-4"><input type="checkbox" name='course' value="{{course.id}}">&nbsp;{{course.name}}</p>            
                {% endfor %}
                </div>
                <p><input  class="btn btn-info" type="button" value="Next" style="float:right;margin-right:20px;" onClick="next('fourth-page-link')"/></p>
            </div>
            
            <div id="fourth-page" class="tab-pane">
    		<p><label for="password" >Please enter your new password:</label>
			<input id="password" type="text" name="new_password" required/></p>        
			<br><br>
    	    {%csrf_token%}
			<input  class="btn btn-info" type="submit" value="Submit" style="float:right;margin-right:20px;" />
            </div>
			<br><br>
        </div>       
		</form>
		</td>
	</tr>
	</table>
	<p><font size="+1" color="#4D4D4D">Need help?</font><br><font color="#808080">If there is any problem please contact Addis 0913350082.</font></p>
	</center>
    </div>
	</body>
</html>
