<!DOCTYPE html>
<html>
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/custom_first_login.css ' %}">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
			function previous(page){
				
				if(page == "first-page-link"){
						var next_tab = document.getElementById("first-page-link");
						next_tab.click();						
				}
				
				if(page == "second-page-link"){
						var next_tab = document.getElementById("second-page-link");
						next_tab.click();						
				}
				
				if(page == "third-page-link"){
						var next_tab = document.getElementById("third-page-link");
						next_tab.click();						
				}				
			}
			
			function next(page){
								
				if(page == "second-page-link"){
					var response = false;
										
					if( document.getElementById("id_title").selectedIndex == 0 ){
						document.getElementById("id_title_error").innerHTML = "This field is required.";
						return;	
					}
					
					if( $.trim( $("#id_name").val() ) == "" ){
						document.getElementById("id_name_error").innerHTML = "This field is required.";
						return;
					}
										
					if( $.trim( $("#id_last_name").val() ) == "" ){
						document.getElementById("id_last_name_error").innerHTML = "This field is required.";
						return;
					}
					
					if( $.trim( $("#id_lect_id").val() ) == "" ){
						document.getElementById("id_lect_id_error").innerHTML = "This field is required.";
						return;
					}
					
					if( document.getElementById("id_department").selectedIndex == 0 ){
						document.getElementById("id_department_error").innerHTML = "This field is required.";
						return;
					}
					
					$.getJSON("/api/lecturer_id_exists?lect_id=" + document.getElementById("id_lect_id").value, function(data){
						if( data.status ){
							document.getElementById("id_lect_id_error").innerHTML = "This user id is already taken. Try another one.";
							return;								
						}
						
						var next_tab = document.getElementById("second-page-link");
						next_tab.click();						
					});
					
					return;
				}
				
				if(page == "third-page-link"){
					var $checkbox = document.getElementsByName("section"), $checked=0;
  					if(document.getElementById("check-third-page").value == "1"){
						var next_tab = document.getElementById(page);
						next_tab.click();
						return;						
					}
  					for(var i=0; i < $checkbox.length; i++){
	    					if($checkbox[i].checked){
							$checked++; }
	  				}
		
					if($checked < 1 ){
						document.getElementById("id_section_error").innerHTML = "Choosing at least one section is required.";
						return;	
		 			}

					var url = "/api/courses?study_field=7&sections=";
					
					$("input:checkbox[name=section]:checked").each(function(){
						url += $(this).val() + "-";	
					});
					
					url = url.slice(0,-1);
					
					$.getJSON(url,function(data){
						var i;						
						var prev_dept = "";
						var div;
						for(i=0;i<data.length;i++){
							if(data[i].study_field != prev_dept){
								if(i == 0){
									div = "<div class='row'>" ;
								}
								else {
									div += "</div>";
									$("#third-page-row").prepend(div);
									$("#third-page-row").prepend("<div><h4>" + data[i-1].study_field + "</h4></div>");
									div = "<div class='row'>" ;
								}
								prev_dept = data[i].study_field;
								
							}
							div += "<p class='col-sm-4'><input name='course' type='checkbox' value=" + data[i].id + " />" + '&nbsp;' + data[i].name + "</p>";	
						}
						div += "</div>";
						$("#third-page-row").prepend(div);
						$("#third-page-row").prepend("<div><h4>" + data[data.length - 1].study_field + "</h4></div>");
						document.getElementById("check-third-page").value = "1";
					});		
				}
				
				if(page == "fourth-page-link"){
					var $checkbox = document.getElementsByName("course"), $checked=0;
  		
  					for(var i=0; i < $checkbox.length; i++){
	    					if($checkbox[i].checked){
							$checked++; }
	  				}
		
					if($checked < 1 ){
						document.getElementById("id_course_error").innerHTML = "Choosing at least one course is required.";
						return;	
		 			}	
				}				
				
				var next_tab = document.getElementById(page);
				next_tab.click();				
			}
			
			function password_checker(){
				var pass = 	document.getElementById("password").value;
				var pass_conf = document.getElementById("password_conf").value;
				if(pass === pass_conf){
					document.getElementById("submit").disabled = false ;		
				}
				else{
					document.getElementById("submit").disabled = true ;
				}
			}
		</script>
    </head>
    
	<body>
 	{% load static %}
 	<div id="header" style="background:url({% static 'main/Gradient.svg' %})">
		{% load static %}
 		<center><img src="{% static 'main/White-Logo.svg' %}" width="160px" height="100px"></center>
 	</div>
    <div class="container">    
	<center>
	<br>
	<h4>Please fill out the form below and submit it to go to your account.</h4>
    <hr>
  					<button type="button" class="btn btn-link btn-md" data-toggle="modal" data-target="#myModal">Watch a tutorial video on how to fill this form.</button>

  					<!-- Modal -->
  					<div class="modal fade" id="myModal" role="dialog">
    				<div class="modal-dialog">
    
     				<!-- Modal content-->
  				    <div class="modal-content">
  			    	<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">The first login page</h4>
        			</div>
       				 <div class="modal-body">
         			 <iframe width="560" height="315" src="https://www.youtube.com/embed/QoVkOyxzPkY?rel=0" frameborder="0" allowfullscreen></iframe>
       				 </div>
     				 </div>
      
    				 </div>
  				     </div>

 	<table id="lect-table" width="50%">
	<tr>
    	<td>  
		<form class="lect-form" action="{% url 'first_login' %}" method="post">
        <input type="hidden" name="user" value="{{user}}" />
         <ul class="nav nav-tabs">
        	<li class="active"><a id="first-page-link" data-toggle="tab" href="#first-page"></a></li>
            <li><a id="second-page-link" data-toggle="tab" href="#second-page"></a></li>
           	<li><a id="third-page-link" data-toggle="tab" href="#third-page"></a></li> 
            <li><a id="fourth-page-link" data-toggle="tab" href="#fourth-page"></a></li>        
        </ul>
        <div class="tab-content">
			<div id="first-page" class="tab-pane active">
            	<div class="row">
            		<p id="id_title_error" class="error-msg col-sm-4"></p>
                	<p id="id_name_error" class="error-msg col-sm-4"></p>
                	<p id="id_last_name_error" class="error-msg col-sm-4"></p>
                </div>
                
                <div class="row">
        		<p class="lect_name col-sm-4" align="left"><label for="id_title" style="margin-left:15px;">Name:</label>
        		<select id="id_title" name="title">
					<option value="" selected="selected">---------</option>
					<option value="Mr.">Mr.</option>
					<option value="Ms.">Ms.</option>
					<option value="Mrs.">Mrs.</option>
					<option value="Dr.">Doctor</option>
					<option value="Prof.">Professor</option>
				</select>
        		</p>
                                
                <p class="lect_name col-sm-4"> 
            	<input id="id_name" name="name" placeholder="First Name" type="text" />
                </p>
                               
				<p class="lect_name col-sm-4"> 
                <input id="id_last_name" name="last_name" placeholder="Last Name" type="text" />
                </p>
                
                </div>
                
                <p id="id_lect_id_error" class="error-msg"></p>
                
				<p>
                <label for="id_lect_id">Staff ID:</label> <input id="id_lect_id" name="lect_id" type="text" />
                REMEMBER! You will use this ID to login from now on.
                </p>
                
                <p id="id_department_error" class="error-msg"></p>
                
				<p><label for="id_department">Department:</label>
                	<select id="id_department" name="department">
                    <option value="" selected="selected">---------</option>
					{% for department in departments %}
                    	<option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
                    </select>
                </p>
                <div align="right"><input  class="btn btn-info" type="button" value="Next" style="margin-right:10px;" onClick="next('second-page-link')"/></div>
			</div>
        
        	<div id="second-page" class="tab-pane">
            	<p id="id_section_error" class="error-msg text-center"></p>
                
        		<h4>Choose sections you teach</h4>
                <div class="row">
                {% for section in sections %}
                	{% ifchanged section.year %}
                    	</div>
                    {% endifchanged %}
                    
                	{% ifchanged section.studyfield %}
                    	<h4>{{section.studyfield}}</h4>
                    {% endifchanged %}
                    
                	{% ifchanged section.year %}
                    	<h4><font size="-1">Year {{section.year}}</font></h4>
                        <div class="row">
                    {% endifchanged %}
                    
                    <p class="col-sm-3"><input class="section" type="checkbox" name='section' value="{{section.id}}">&nbsp;Section {{section.section_number}}</p>            
                {% endfor %}
                </div>
                <div align="left" style="display:inline-block; width:49%;"><input  class="btn btn-info" type="button" value="Back" style="margin-left:10px;" onClick="previous('first-page-link')"/></div>
                <div align="right" style="display:inline-block; width:49%;"><input  class="btn btn-info" type="button" value="Next" style="margin-right:10px;" onClick="next('third-page-link')"/></div>
        	</div>
                
            <div id="third-page" class="tab-pane">
            	<input id="check-third-page" type="hidden" value="0">
            	<p id='id_course_error' class='error-msg text-center'></p>
                
                <h4>Choose courses you give</h4>
            	<div id="third-page-row" style="height:auto;"></div>     
                <div align="left" style="display:inline-block; width:49%;"><input  class="btn btn-info" type="button" value="Back" style="margin-left:10px;" onClick="previous('second-page-link')"/></div>
                <div align="right" style="display:inline-block; width:49%;"><input  class="btn btn-info" type="button" value="Next" style="margin-right:10px;" onClick="next('fourth-page-link')" /></div>
            </div>
            
            <div id="fourth-page" class="tab-pane">
            <div style="width:70%;">
    		<p class="text-right"><label for="password" >New password:</label>
			<input id="password" type="password" name="new_password" required/></p>
    		<p class="text-right"><label for="password_conf" >Confirm new password:</label>
			<input id="password_conf" type="password" onKeyUp="password_checker()" required/></p>
             </div>              
    	    {%csrf_token%}
			<input  id="submit" class="btn btn-info" type="submit" value="Submit" style="float:right;margin-right:20px;" disabled/>
                <div align="left" style="display:inline-block; width:49%;"><input  class="btn btn-info" type="button" value="Back" style="margin-left:10px;" onClick="previous('third-page-link')"/></div>
            <br>
            </div>
            <br>
        </div>       
		</form>
		</td>
	</tr>
	</table>
	<p><font size="+1" color="#4D4D4D">Need help?</font><br><font color="#808080">If there is any problem please contact Addis 0913350082.</font></p>
	</center>
    </div>
	</body>
</html>
