{% extends 'main/base.html' %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block extra %}
<a href="{% url 'Log In' %}" class="btn">Login</a>
{% endblock %}

{% block content%}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row push-min-height">
                <div class="col-lg-6 mt-3">
                    <div class="card card-body push-corners">
                        <p class="link font-weight-bold text-center">Forgot Passwords</p>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="staff-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="staff" aria-selected="false">Staff</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
								<p class="my-4">Enter your Registration ID Number to recover your password.</p>
                                <form method="post" action="#">
                                        {% csrf_token %}
                                        <input name="user-type" type="text" value="student" hidden/>
                                        <input class="form-control my-3 push-corners" name="username" data-toggle="tooltip" data-placement="left" title="You can find it on your school ID." type="text" placeholder="Student Registration ID" required>
                                        <button class="btn btn-block my-3" type="submit">Send</button>
                                        <p class="text-center">Don't have an account? <a class="link" href="{% url 'Sign Up' %}">Sign up here.</a></p>
                                        <p class="meta">If there is any problem or if you have a question please contact us at aaupush@gmail.com or 0913 35 00 82.</p>
                                </form>    
                            </div>
                            <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="staff-tab">
								<p class="my-4">Enter your Staff ID number to recover your password.</p>
                                <form method="post" action="#">
                                        {% csrf_token %}
                                        <input name="user-type" type="text" value="staff" hidden/>
                                        <input class="form-control my-3 push-corners" name="username" type="text" placeholder="Staff ID" required>
                                        <button class="btn btn-block my-3" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                {% include 'main/snippets/footer.html' %}
            </div>   
        </div>
    </div>
            
               
                <!--Grid row-->
              </div>
    </div>
{% endblock %}

{% block script%}

<script>
    // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}