{% extends "main/base.html" %}

{% block title %}
	<title>AAU Push</title>
{% endblock %}

{% block style %}
    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 8px 0;
            border: 0px;
        }
    </style>
{% endblock %}

{% block extra %} <a class="meta link btn btn-default hidden-xs" href="{% url 'login' %}">Teacher's Login</a> {% endblock %}

{% block content %}

    <div class="container-fluid push-container">
        <div class="row">
            <div class="col-md-6"> 
                <h1 class="title">Computer Science Department</h1>
                <p class="detail"> Click on your section to proceed.</p>
                <div class="spacer2"></div>
                <table class="table table-striped">
                    <tr>
                    {% for section in sections %}
                        {% ifchanged section.year %}
                            </tr><tr>
                            <td class="detail">Year {{section.year}}</td>	
                        {% endifchanged %}
                        <td><a class="detail link" href="{% url 'Section' section.code%}">Section {{section.number}}</a></td>
                    {%endfor%}
                    </tr>
                </table>
                <hr class="hidden-md hidden-lg">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h1 class="title">Get inspired!</h1>
                {% load static %}
                <img src="{% static 'main/openday.jpg' %}" width="100%">
                <div class="spacer2"></div>
                <p class="detail"> The Department of Computer Science is having a “Computer Science Open Day Event” during the Research Week of AAU.
                    Our aim is to increase & enhance exposure of works done by students of our department.
                    Di erent attendees from the computer-related industry and media will be attending the event.</p>
            </div>
        </div>
    </div>

{% endblock %}
