{% extends "main/base.html" %}

{% block title %}
	<title>AAU Push</title>
{% endblock %}

{% block style %}
    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 8px 0;
            border: 0px;
        }
		
		#open-day-poster {
			border:solid 1px #326929;
			background-color:#F4F4F4;
			padding:20px;
		}
		
		#poster-image {
			border:solid 1px #464646;
			box-shadow: -4px 7px 5px 1px;
		}
    </style>
{% endblock %}

{% block extra %} <a class="meta link btn btn-default hidden-xs" href="{% url 'login' %}">Teacher's Login</a> {% endblock %}

{% block content %}

    <div class="container-fluid push-container">
        <div class="row">
            <div class="col-md-6"> 
                <h1 class="title">Computer Science Department</h1>
                <p class="detail"> Click on your section to proceed.</p>
                <div class="spacer2"></div>
                <table class="table table-striped">
                    <tr>
                    {% for section in sections %}
                        {% ifchanged section.year %}
                            </tr><tr>
                            <td class="detail">Year {{section.year}}</td>	
                        {% endifchanged %}
                        <td><a class="detail link" href="{% url 'Section' section.code%}">Section {{section.number}}</a></td>
                    {%endfor%}
                    </tr>
                </table>
                <hr class="hidden-md hidden-lg">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
				<div id="open-day-poster">
                {% load static %}
                <img id="poster-image" width=100% src="{% static 'main/open_day.jpg' %}">
                </div>
                <h4>Submit your work through this <a href="https://goo.gl/forms/wG49096p7AbS0Rh82">application form</a>.</h4>
            </div>
        </div>
    </div>

{% endblock %}
