{% extends 'main/base.html' %}

{% block title %}
<title>AAU Push - Welcome</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block extra %}
<a href="{% url 'Log In' %}" class="btn">Login</a>
{% endblock %}

{% block content%}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
                <!--Grid row-->
                <div class="row">
                    <div class="col-lg-6 mt-4">
                        <h1 class="h1-responsive font-weight-bold">Make the most college</h1>
                        <hr>
                        <p>
                            AAU Push fills the communication gap between students and teachers. Teachers simply post announcements and upload course textbooks, references and assignments for students. Students get it through website and the Android application.
                        </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-4">
                        <div class='card card-body push-corners'>
                            <p> <span class='link font-weight-bold'>New to AAU Push? </span>Sign up for free.</p>
                            <img class="img-fluid" alt="Laptop and Desk" src="{% static 'main/laptop.jpg' %}" />
                            <form method="post" action="{% url 'Sign Up' %}">
                                    {% csrf_token %}
                                    <select name="department" class="form-control my-3 push-corners" required>
                                            <option value="" disabled selected>Pick your Department</option>
                                            {% for department in departments%}
                                            <option value="{{department.id}}">{{department.name}}</option>
                                            {% endfor %}
                                    </select>

                                    <input class="form-control my-3 push-corners" name="first_name" type="text" placeholder="First Name" required>
                                    <input class="form-control my-3 push-corners" name="last_name" type="text" placeholder="Last Name" required>
                                    <input class="form-control my-3 push-corners" name="reg_id" data-toggle="tooltip" data-placement="left" title="You can find it on your school ID." type="text" placeholder="Student Registration ID" required>
                                    <input class="form-control my-3 push-corners" name="email" type="email" placeholder="Email" required>

                                    <button class="btn btn-block my-3" type="submit">Sign up</button>
                                    <p class="meta text-center">By signing up, you agree to <a class="link" href="#">Terms and Conditions.</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ADD LOGIN OPTION HERE FOR WHEN RESIZED TO SMALLER SCREENS-->
                <div class="row mt-2">
                        <p class="meta grey-text">
                            Copyright 2018 AAU Push
                        | <a href="#" class="link">About Us</a>
                        | <a href="#" class="link">Feedback</a>
                        | <a href="#" class="link">Terms</a>
                        </p>
                  </div>
                <!--Grid row-->
              </div>
    </div>
{% endblock %}

{% block script%}

<script>
    // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
