{% extends 'main/base.html' %}

{% block title %}
<title>Gibbi - Login</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block extra %}
<a href="{% url 'Sign Up' %}" class="btn ">Sign up</a>
{% endblock %}

{% block content%}
{% load static %}
    <div style="min-height: 625px; background-image: url('{% static 'main/luca_bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            
            {% include 'main/snippets/login.html' %}
            
            <div class="row mt-2">
                {% include 'main/snippets/footer.html' %}
            </div>
        </div>
    </div>


                <!--Grid row-->
              </div>
    </div>
{% endblock %}

{% block script%}
{% load static %}
<script src="{% static 'main/login.js' %}"></script>
<script>
    // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
