{% extends "main/base.html" %}

{% block title %}
	<title>AAU Push | {{course.name}}</title>
{% endblock %}

{% block section_code %} {{section.code}} {% endblock %}

{% block content %}
    <div class="container-fluid push-container">
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'course_view' section.code course.get_link_name %}" method="post">
                    {% csrf_token %}   
                    <h1 class="title">Multiple Download</h1>
                    <p class="meta">{{course.name}}</a>
                    <div class="spacer2"></div>
                    {% for material in materials %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name={{material.id}} />
                                <a class="detail link" href="{% url 'File' material.id %}">{{ material.name }}</a>
                                <p class="meta">{{material.file.size | filesizeformat }} [{{material.ext | upper}}] by {{material.lecturer}} on {{material.pub_date | date:"N"}}&nbsp;{{material.pub_date | date:"j"}}, {{material.pub_date | date:"o"}}</p>
                            </label>
                        </div>
                    {% empty %}
                        <p class="detail">No materials have been uploaded.</p>
                    {% endfor %}
                    <div class="spacer1"></div>
                    <input class="btn-default" type="submit" value="Download ZIP"/>
                </form>
                <div class="spacer2"></div>
                <a class="detail link" href="{% url 'Section' section.code %}">Back to Announcements</a>
                <div class="spacer2"></div>
            </div>
            <div class="col-md-1"></div>
            {% include "main/courses_snippet.html" with class="col-md-5" %}
        </div>
    </div>

{% endblock %}